
\.vs/evalWriter/v15/Server/sqlite3/db\.lock

\.vs/evalWriter/v15/Server/sqlite3/storage\.ide

\.vs/evalWriter/v15/Server/sqlite3/storage\.ide-shm

\.vs/evalWriter/v15/Server/sqlite3/storage\.ide-wal

evalWriter/bin/Debug/app\.publish/Application Files/evalWriter_2_0_0_1/evalWriter\.exe\.config\.deploy

evalWriter/bin/Debug/app\.publish/Application Files/evalWriter_2_0_0_1/evalWriter\.exe\.deploy

evalWriter/bin/Debug/app\.publish/Application Files/evalWriter_2_0_0_1/evalWriter\.exe\.manifest

evalWriter/bin/Debug/app\.publish/Application Files/evalWriter_2_0_0_1/icon\.ico\.deploy

evalWriter/bin/Debug/app\.publish/evalWriter\.application

evalWriter/bin/Debug/app\.publish/evalWriter\.exe

evalWriter/bin/Debug/app\.publish/setup\.exe

evalWriter/bin/Debug/evalWriter\.application

evalWriter/bin/Debug/evalWriter\.exe\.manifest

evalWriter/cert\.pfx

evalWriter/evalWriter_TemporaryKey\.pfx

evalWriter/evalWriter\.vbproj\.user

evalWriter/obj/Debug/evalWriter\.application

evalWriter/obj/Debug/evalWriter\.exe\.manifest
